name: Behave Tests

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install behave selenium

      - name: Install Chrome and ChromeDriver
        uses: browser-actions/setup-chrome@v2
        with:
          install-dependencies: true
          install-chromedriver: true

      - name: Install Xvfb
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb

      - name: Run Behave tests for peppers-ghost
        working-directory: peppers-ghost
        run: |
          xvfb-run -a python -m behave
